html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

#main_grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 7% 1fr 7%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
  background: #5eaaa8;
}
main {
  grid-area: main;
  background: linear-gradient(180deg, #5eaaa8, #a3d2ca);
}
footer {
  grid-area: footer;
  background: #a3d2ca;
}

main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "input statistics";
}
#input {
  padding: 1rem;
}
#input_title,
.type_switch,
#input_amount,
#input_category,
#input_add {
  height: 30px;
  width: 100%;
  outline: none;
  resize: none;
  margin-bottom: 1rem;
  font-size: large;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ADD Button */
#input_add {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  font-size: large;
  transition: all 0.2s;
  align-items: center;
  cursor: pointer;
}
#input_add:hover {
  background-color: rgb(169, 206, 206);
}
#input_add:active {
  background-color: rgb(78, 153, 153);
}

/* Change Profit/Expense */
.type_switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
}
.type {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(250, 128, 128);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.type::before {
  white-space: pre;
  content: "expense                \293D  ";
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#input_type:checked + .type {
  background-color: rgb(132, 247, 132);
}
#input_type:checked + .type::before {
  content: "profit                  \293C  ";
}
.visually-hidden {
  display: none;
}

button {
  font-size: 1.5em;
  background-color: rgba(250, 250, 250, 0);
  border: rgba(250, 250, 250, 0);

  border-bottom: 3px solid white;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 15px;
  width: 100px;
}

h3 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}
p,
h4 {
  text-align: center;
  font-size: 0.5em;
  color: white;
  padding-top: 2em;
}
