html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

#main_grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 7% 1fr 7%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
  background: #5eaaa8;
}
main {
  grid-area: main;
  background: linear-gradient(180deg, #5eaaa8, #a3d2ca);
}
footer {
  grid-area: footer;
  background: #a3d2ca;
  text-align: center;
  font-size: small;
}

button {
  cursor: pointer;
}

.header-button {
  font-size: 1.5em;
  background-color: rgba(250, 250, 250, 0);
  border: rgba(250, 250, 250, 0);

  border-bottom: 3px solid white;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 15px;
  width: 100px;
}

h3 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}
h4 {
  color: white;
  text-align: center;
}

/* Overview-Page START*/

main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "input statistics";
}
#input,
#statistics {
  padding: 5px;
}

/* Input Left-Side*/

#total-table {
  margin-left: 15%;
  margin-bottom: 3rem;
  width: 70%;
}
.total-calculations {
  width: 50%;
  text-align: right;
}
.total-balance-negative {
  color: rgb(255, 0, 0);
}
.total-balance-positive {
  color: green;
}
th {
  text-align: left;
  width: 50%;
}

#expense-button,
#profit-button,
#input_title,
#input_amount,
#input_category,
#input_add {
  height: 30px;
  width: 88%;
  margin-left: 6%;
  outline: none;
  margin-bottom: 2rem;
  font-size: large;
}
/* remove the up/down arrows for amount */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ADD Button */
#input_add {
  width: 50%;
  margin-left: 25%;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  transition: all 0.2s;
  align-items: center;
  cursor: pointer;
}
#input_add:hover {
  background-color: rgb(169, 206, 206);
}
#input_add:active {
  background-color: rgb(78, 153, 153);
}

/* Change Profit/Expense */
#expense-button,
#profit-button {
  width: 41%;
  border: 1px solid rgba(255, 255, 255, 0.74);
  transition: all 0.2s;
  align-items: center;
}
.expense-button-on {
  background-color: rgb(196, 17, 17);
  border: 1px white;
}
.expense-button-off {
  background-color: rgb(180, 150, 150);
  color: rgb(59, 59, 59);
}
.profit-button-on {
  background-color: rgb(11, 165, 11);
  border: 1px white;
}
.profit-button-off {
  background-color: rgb(149, 189, 149);
  color: rgb(59, 59, 59);
}

/* Statistics Right-Side */

#statistics {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "categories-side transactions-side";
}

.scrollable {
  width: 100%;
  height: 620px;
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable::-webkit-scrollbar {
  background: transparent;
}
.transaction {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-style: none none solid none;
  border-width: 1px;
  background-color: #5eaaa85b;
  font-size: 0, 8em;
  text-align: left;
}
.expense {
  display: inline;
  margin: 1px;
  font-size: large;
  color: rgb(255, 0, 0);
}
.profit {
  display: inline;
  margin: 1px;
  font-size: large;
  color: green;
}
.delete-button {
  float: right;
  background-color: rgba(250, 250, 250, 0);
  border: rgba(250, 250, 250, 0);
  color: red;
}
.delete-button:hover {
  text-decoration: underline;
}
.category {
  margin: 1px;
  padding-left: 10px;
}
.title {
  margin: 1px;
  font-size: small;
  padding-left: 10px;
  opacity: 0.5;
}
